.productCon{

}

.productFirstCon{
    background-color: '#f4f2ef';
}

.productSecCon h1{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 135%;
}

.productSecCon h3{
    text-align: center;
    color: gray;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;

}