.homeCon{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeFirstCon h1{
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 140%;
    color: #080B13;
}

.homeFirstCon h3{
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #080B13;
    text-align: center;
}

.homeSecondCon{
    display: flex;
    justify-content: space-between;
    width: 92%;
}