.sinProdCon{
    font-family: 'Basis Grotesque Pro';
    display: flex;
    justify-content: space-between;
    margin: 2% 4%;
}

.sinProdDesCon{
    width: 48%;
}

.productTag{
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 120%;
    color: #080B13;
    margin: 2% 4%;
}

.sinProdImgCon{
    width: 48%;
    height: 75%;
    display: flex;
    justify-content: center;
}

.sinProdHeading{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 135%;
    color: #000000;
}

.sinProdPrice{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 135%;
    color: #000000;
}

.sinProdBtn{
    width: 232px;
    height: 50px;
    background: rgba(60, 55, 55, 0.8);
    opacity: 0.5; 
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

.sinProdDesHeading{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}

.sinProdDes{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}