@import url('https://fonts.cdnfonts.com/css/basis-grotesque-pro');

.navCon{
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    font-family: 'Basis Grotesque Pro', sans-serif;
}

.midCon{
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.logoCon{
    padding: 1%;

}

.lastCon{

}